<h1>Reports</h1>

<div id="reports">
  <% @reports.each do |report| %>
    <p>
      <%= link_to report.title, user_report_path(report.user, report) %>
    </p>
  <% end %>
</div>

<%= link_to "New report", new_user_report_path(current_user) %>
