<h1><%= t('views.common.title_index', name: Report.model_name.human) %></h1>

<div id="reports">
  <% @reports.each do |report| %>
    <p>
      <%= link_to report.title, user_report_path(report.user, report) %>
    </p>
  <% end %>
</div>

<%= paginate @reports %>

<%= link_to t('views.common.new', name: Report.model_name.human), new_user_report_path(current_user) %>
